<mat-toolbar>Tile Puzzle</mat-toolbar>

<div class="container">
	<div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-6">

            <mat-grid-list [cols]="this.size">
                <mat-grid-tile *ngFor="let tile of gs.board.tiles; let i = index;" (click)="playerClick(i)">
                    <img [src]="getImagePath(i)" [id]="i" class="img-fluid">
                </mat-grid-tile>
            </mat-grid-list>
        </div>

        <div class="col-md-4">
            <button type="button" [class]=" (this.botPlaying)? 'col-md-6 btn btn-primary ': 'col-md-6 btn btn-secondary '" (click)="botPlay()">Bot Play</button>
            <button type="button" [class]="(!this.botPlaying)? 'col-md-6 btn btn-primary ': 'col-md-6 btn btn-secondary '" (click)="playerPlay()">Player Play</button>
            <div class="card">
                <img class="card-img-top" [src]="getOriginalImagePath()" alt="Original Image">
                <div class="card-body">
                    <h5 class="card-title">Original Image</h5>
                    <p class="card-text">Click on the adjacent tiles of the blank tiles to swap the image. Try to complete the image!</p>
                    <div class="row">
                        <button type="button" class="col-md-6 btn btn-primary" (click)="newGame()">New Game</button>
                        <button type="button" class="col-md-6 btn btn-secondary" (click)="changePuzzle()">Change Puzzle</button>
                    </div>
                    <div class="row">
                        <button type = "button" [class] = "this.difficulties[this.difficulty] == 'easy' ? 'btn btn-primary col-md-4'  : 'btn btn-secondary col-md-4'" (click) = "changeDifficulty('easy')">Easy</button>
                        <button type = "button" [class] = "this.difficulties[this.difficulty] == 'medium' ? 'btn btn-primary col-md-4': 'btn btn-secondary col-md-4'" (click) = "changeDifficulty('medium')">Medium</button>
                        <button type = "button" [class] = "this.difficulties[this.difficulty] == 'hard' ? 'btn btn-primary col-md-4'  : 'btn btn-secondary col-md-4'" (click) = "changeDifficulty('hard')">Hard</button>
                    </div>
                    <p class="card-text"><small class="text-muted">Moves: {{ this.moves }}</small></p>
                </div>
            </div>
        </div>

	</div>
</div>